

#match-express-container{
    font-family: 'Montserrat', sans-serif; 
    padding-top: 5%;
    padding-bottom: 5%;
    color: #333333;
}

.form-title{
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    font-weight: 700 ;
}

.match-express-form{
    width: 60%;
    margin: 0 auto;
    label{font-weight: 600; font-size: 1.3rem;}
    input, textarea, select{margin-bottom: .5rem; margin-top: .5rem;}
}
.question-container{
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
.question-one{background-color: #6B9AC4;}
.question-two{
    background-color: #6BC7AB;
    text-align: center;
    h3{ font-family: 'Montserrat', sans-serif; font-weight: 600;}
    .form-check-input{height: 2em; width: 2em;}
    label{font-weight: 500; font-size: 1.2rem; margin:.8rem 1rem 0rem .3rem;}
}
.question-three{background-color: #6b70c7;}

.btn-continue{
    width: 15rem;
    margin: 0 auto;
    padding: 1.3rem 1rem;
    color: #EFF2F1;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #4059AD;
    transition: .3s;
    &:hover{
        background-color: #4090AD;
    }
}

@media screen and (max-width: 960px) {
    .match-express-form {
        width: 80%;
    }
    .question-two{text-align: justify;}
}