<div class="container-fluid" id="login">
    <div class="row">
      <div class="col-12 login-section">
        <div class="image-layer" ></div>
        <div class="outer-box">
            <!-- Login Form -->
            <div class="login-form default-form">
                <div class="form-inner">
                  <img src="assets/logopitch-green.png" alt="" class="logo-image">
                  <h2 class="text-center">Iniciar sesión</h2>
                    <!--Login Form-->
                    <form method="post" action="add-parcel.html">
                        <div class="form-group">
                            <label>Email</label>
                            <input  type="text" name="username" placeholder="usuario@hiredone.io" required>
                        </div>
                        
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input  id="password-field" type="password" name="password" value="" placeholder="contraseña">
                        </div>
  
                    
                      <div class="message-box error" > 
                          <p>Tus credenciales son incorrectas, intenta ingresarlas nuevamente.</p>
                          
                      </div>
  
                        <div class="form-group">
                            <button class="btn login-btn" type="submit" name="log-in" >Iniciar sesión</button>
                          </div>
                          
                    </form>
                </div>
            </div>
            <!--End Login Form -->
        </div>
      </div>
    </div>
  </div>
  