#appointment{
    background-color: #4059AD;
}

.appointment-form{
    font-family: 'Montserrat', sans-serif; 
    background-color: #ffffff;
    width: 70%;
    margin:0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding:5rem;
    border-radius: 3rem;
    h3{
        text-align: center;
        font-family: 'Montserrat', sans-serif; 
        font-weight: 600;
        font-size: 1.3rem;
    }
    .btn-pay{
        border: 0px; 
        display: block;
        width: 10rem; 
        height: 3rem;
        line-height: 2rem;
        margin: 0 auto;  
        margin-top: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #ffffff;
      }
}

@media screen and (max-width: 960px) {
    .appointment-form{width: 90%; padding: 2rem;}
}

