/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

.light-text{color:#EFF2F1;}

.yellow{background-color:#F4B942!important;}
.green{background-color: #6BC7AB!important;}
.light-blue{background-color: #6B9AC4;}
