
  
  <div class="container-fluid" id="main-header">
    <div class="row">
      <div class="col-12 main-header-inner">   
        <h1>PsicoApp</h1>
        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut rem debitis quaerat.
           Dignissimos ab nemo saepe ea soluta placeatmagni, eos odio quasi asperiores
           ipsum a. Voluptate perferendis laudantium odio!</h3>
  
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
            <button class="btn btn-success" type="submit" routerLink="/match-form">Buscar</button>
        </form>
  
      </div>
    </div>
  </div>
  
  <!--<div class="container-fluid" id="section-access">
    <div class="row">
      <div class="section-access-col col-sm-12 col-md-6 col-lg-6">
        <h3>Acceso Pacientes</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolores dolorem
           quisquam, consectetur doloremque corporis aperiam illo animi vel ipsum aliquid
           quae rerum necessitatibus asperiores, eos repudiandae aspernatur sed doloribus.</p>
        <button type="button" class="btn btn-primary" routerLink="/login">Ingresar</button>
      </div>
  
      <div class="section-access-col col-sm-12 col-md-6 col-lg-6">
        <h3>Acceso Profesionales</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolores dolorem
           quisquam, consectetur doloremque corporis aperiam illo animi vel ipsum aliquid
           quae rerum necessitatibus asperiores, eos repudiandae aspernatur sed doloribus.</p>
        <button type="button" class="btn btn-info" routerLink="/login">Ingresar</button>
      </div>
    </div>
  </div>-->

  <div class="container-fluid" id="about">
    <div class="row">
      <div class="col-12 about-title">
        <h1>¿Qué es PsicoApp?</h1>
        <span class="divider-one"></span>
        <p>PsicoApp es una plataforma que te ayudará a encontrar al terapeuta que más se acomode
          a tus necesidades. Con un interactivo y sencillo formulario, se generará un match entre ti
          y un terapeuta, lo que asegurará que tu experiencia con la terapia sea positiva.
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="about-box">
          <img src="/assets/emoji1.png" alt="">
          <h4>Un match perfecto</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Odio laboriosam molestias explicabo officiis minus? Suscipit quia repudiandae
             nostrum repellat eius blanditiis hic laboriosam aliquid, deserunt facere,
              distinctio architecto expedita quisquam?</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="about-box">
          <img src="/assets/emoji2.png" alt="">
          <h4>Facilidades de pago</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Odio laboriosam molestias explicabo officiis minus? Suscipit quia repudiandae
             nostrum repellat eius blanditiis hic laboriosam aliquid, deserunt facere,
              distinctio architecto expedita quisquam?</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="about-box">
          <img src="/assets/emoji3.png" alt="">
          <h4>Modalidad online y offline</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Odio laboriosam molestias explicabo officiis minus? Suscipit quia repudiandae
             nostrum repellat eius blanditiis hic laboriosam aliquid, deserunt facere,
              distinctio architecto expedita quisquam?</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="blue-section">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <h3>¿Cómo funciona PsicoApp?</h3>
        <p>Con preguntas cuidadosamente generadas y revisadas por profesionales, y potenciado por
           Inteligencia Artificial, nuestro formulario de match terapeutico garantiza que puedas
          encontrar a un terapeuta que se adhiera a tus principios y personalidad, y que sea
          capaz de manejar tus inquietudes de la manera más competente. </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <ul class="blurbs">
          <li class="yellow-item">
            <img src="/assets/icon-one.png" alt="">
            <p>Tomamos en consideración si prefieres sesiones online o presenciales.</p>
          </li>
          <li class="skyblue-item">
            <img src="/assets/icon-two.png" alt="">
            <p>Nuestra versión express del formulario te permitirá acceder a un match e
               sólo 1 minuto. </p>
          </li>
          <li class="yellow-item">
            <img src="/assets/icon-three.png" alt="">
            <p>Encontramos el match perfecto que se ajusta a tus necesidades.</p>
          </li>
          <li class="skyblue-item">
            <img src="/assets/icon-four.png" alt="">
            <p>El match se ajusta a tu presupuesto dependiendo de cuánto puedas pagar.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="calltoaction">
    <div class="row">
      <div class="col-12">
        <h3>¿Quieres encontrar tu match?</h3>
        <p>Solo te tomará 5 minutos llenar el formulario!</p>
        <button class="btn yellow">LLévame al formulario <img src="/assets/arrow-icon.png" alt=""></button>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="contact">
    <div class="row">
      <div class="col-12">
        <h3>Para saber más sobre este proyecto puedes escribirnos a:</h3>
        <h5>correonombremail@mail.com</h5>
      </div>
    </div>
  </div>

  <footer>
    <p>2023 | Desarrollado por Alpacat</p>
  </footer>