
#main-header{
    font-family: 'Montserrat', sans-serif; 
    background: rgb(64,89,173);
    background: linear-gradient(180deg, rgba(64,89,173,1) 0%, rgba(107,154,196,1) 50%, rgba(107,199,171,1) 100%);
    height: 70%;
    .main-header-inner{
        color: #ffffff; 
        padding:10%;
        h1{
            font-size: 3rem;
            letter-spacing: 5px;
            font-weight: 800;
        }
    }
    form{
        width: 90%;
        input{
            width: 100%;
            height: 5rem;
        }
        button{height: 5rem; width: 15rem; font-size: 2rem;}
    }
}

#section-access{
    font-family: 'Montserrat', sans-serif; 
    padding: 5%;
    text-align: center;
    h3{
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;

    }
    .section-access-col{
        padding-left: 10%;
        padding-right: 10%;
        button{
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 2px;
            margin-top: 2rem;
            color: #ffffff;
            min-width: 15rem;
        }
    }
}


/*RESPONSIVE*/
@media screen and (max-width: 960px) {
    #main-header form input {
        width: 100%;
        height: 3rem;
    }
    #main-header form button {
        height: 3rem;
        width: 10rem;
        font-size: 1.3rem;
    }
    #main-header form {
        width: 100%;
    }
    #main-header .main-header-inner {
        padding: 25% 10%;
        text-align: center;
    }
    #section-access .section-access-col button {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    #section-access .section-access-col {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}