
  
  <div class="container-fluid" id="main-header">
    <div class="row">
      <div class="col-12 main-header-inner">   
        <h1>PsicoApp</h1>
        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut rem debitis quaerat.
           Dignissimos ab nemo saepe ea soluta placeatmagni, eos odio quasi asperiores
           ipsum a. Voluptate perferendis laudantium odio!</h3>
  
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
            <button class="btn btn-success" type="submit" routerLink="/match-form">Buscar</button>
        </form>
  
      </div>
    </div>
  </div>
  
  <div class="container-fluid" id="section-access">
    <div class="row">
      <div class="section-access-col col-sm-12 col-md-6 col-lg-6">
        <h3>Acceso Pacientes</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolores dolorem
           quisquam, consectetur doloremque corporis aperiam illo animi vel ipsum aliquid
           quae rerum necessitatibus asperiores, eos repudiandae aspernatur sed doloribus.</p>
        <button type="button" class="btn btn-primary" routerLink="/login">Ingresar</button>
      </div>
  
      <div class="section-access-col col-sm-12 col-md-6 col-lg-6">
        <h3>Acceso Profesionales</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolores dolorem
           quisquam, consectetur doloremque corporis aperiam illo animi vel ipsum aliquid
           quae rerum necessitatibus asperiores, eos repudiandae aspernatur sed doloribus.</p>
        <button type="button" class="btn btn-info" routerLink="/login">Ingresar</button>
      </div>
    </div>
  </div>